<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
		<string>he</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>HourTrackers</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>HourTrackers uses the camera only to photograph a printed timesheet so you can import clock-in and clock-out times.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>HourTrackers needs photo access only to import a timesheet screenshot or image you choose.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Background location is used only to remind you to clock in when you arrive at the workplace you saved. We do not continuously track you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Always location is used only for workplace arrival reminders. You can turn arrival reminders off anytime in Settings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>HourTrackers uses your location while using the app only to save your workplace when you tap Set Location.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
